/*https://coolors.co/f7f4ea-ded9e2-c0b9dd-80a1d4-75c9c8*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');
body{
   /* background-color: blue;*/
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container{ 
    background-color: #DED9E2;
    margin: 0 auto;
    width: 80vw;
    max-width: 1200px;

}
header{ 
    background-color: #80A1D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}
header h1{ 
   text-align: center;
   margin-bottom: 15px;
   width: 100%;
}
header nav{ 
    display:flex;
    flex-direction: column;
    gap: 3px;

}
header nav a{ 
    text-decoration: none;
    color: #80A1D4;
    background-color:#DED9E2;
    border-radius: 30px;
    padding: 5px 10px;
    text-align: center;

}
header nav a:hover{
    color:#C0B9DD;
    background-color: #6b8cae;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #C0B9DD; */
    margin: 10px auto;
    width: 90%;
    max-width: 100%;
    padding: 15px;
}
article h2{ 
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
article img{
    width: 80%;
    max-width: 250px; 
    max-height: 180px ;
    object-fit: cover ;
    margin: 0 auto 15px auto;
    display: block;

}

article p{ 
    max-width: 65ch;
    line-height: 1.6;

}
footer{ 

background-color:#80A1D4;
color:white;
align-items: center;
display: flex;
justify-content: center;
gap: 10px;
padding: 20px;

}

@media (min-width: 600px) {
    /*detta händer ifall vilkor är sant*/
   
    header nav{ 
        flex-direction: row;
        gap: 10px
    }
    main{
        display: flex;
        gap: 30px; 
        justify-content: center;
        align-items: flex-start;
    }
     article {
            width: 45%;
            margin: 10px 0;
            align-items: flex-start;
        }
    article img {
        width: 80%;
        max-height: 200px;
        object-fit: cover;
        margin: 0 auto;

    }
    article h2{
        text-align: center;
    }
}

/*form*/

form{
display: grid;
grid-template-columns: 1fr;
margin-top: 0;
padding: 20px;
gap: 20px;
}
.send-button-container {
    margin-top: 20px;
    text-align: center;
}
label {
display: block;
padding-bottom: 7px;

}
input[type="submit"]{
    padding: 10px 30px;
    background-color: #80A1D4;
    color: white;
    border:#194485; ;
    border-radius: 30px;
}
input[type="submit"]:hover{
    background-color: #6b8cae;
}

@media (min-width: 600px) {
    form{
        grid-template-columns: 1fr 1fr; 
    }
    .send-button-container {
        grid-column: span 2;
        display: flex;
        justify-content: center;

    }
}